.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

body {
  background: black;
}

a.button {
  font-family: arial, sans-serif;
  text-decoration: none;
  background-color: #fda754;
  display: block;
  color: black;
}

a.button:hover {
  background-color: #FDB57C;
}

a.button.pressed {
  background-color: #AE6E3E;
}

a.button:visited {
  color: black;
}

a.left, .left > a {
  text-align: right;
}

.right, .right > a {
  text-align: left;
}

.center {
  text-align: center;
}

div.left, div.right {
  float: left;
}
